<footer style="background-color : {{color}};">
<div class="map">
  <a ui-sref="home">GIVE ME A FIVE</a><br />
  <a ui-sref="work">WORK</a><br />
  <a ui-sref="live">LIVE</a>
</div>
<div class="center">
  Can you find the super secret COMBO?<br />
  You can see the code of my web in my <a target="_blank" href="https://github.com/orggue/mrorggue">github</a> account.<p />
  Powered by Jorge Chato
</div>
<div class="social right">
  <a target="_blank" href="https://github.com/orggue">Github <div class="fa fa-github-square"></div></a><br />
  <a target="_blank" href="https://es.linkedin.com/in/orggue">Linkedin <div class="fa fa-linkedin-square"></div></a><br />
  <a target="_blank" href="https://twitter.com/orggue">Twitter <div class="fa fa-twitter-square"></div></a><br />
  <a target="_blank" href="mailto:jorgechato1@gmail.com">Email <div class="fa fa-envelope-o"></div></a>
</div>
</footer>
