<header>
  <img src="../../assets/img/avatar2.jpg" alt="Jorge Chato">
  <div>
    <h1 style="color : {{color}};">{{question}}</h1>
    <h2>{{answer}}</h2>
  </div>
  <div id="github-bar">
    <span ng-repeat="language in languages" style="background : {{language.color}}; width : calc({{width}}% * {{language.count}});"></span>
  </div>
  <nav>
    <ul>
      <li><a ui-sref="home" ui-sref-active="active-nav" ng-click="changeQA()">GIVE ME A FIVE</a></li>
      <li><a ui-sref="work" ui-sref-active="active-nav" ng-click="changeQA()">WORK</a></li>
      <li><a ui-sref="live" ui-sref-active="active-nav" ng-click="changeQA()">LIVE</a></li>
    </ul>
  </nav>
</header>
