<section id="live">
<div class="content">
  <p>
  <span>B</span>orn and bred in the City of Zaragoza, Spain.<br />
  My interest in web development stemmed from my passion for building tools with my hands and doing something new each day. Since i was 14 i spend most of my time between developing websites and making short movies.
  </p>
  <p>
  <span>I</span> started travelling around the world 8 years ago and since then i am proud of having real friend from so many places. In one of my travels i realized i want to work with this philosophy.
  <br />
  I DO WHAT I LOVE & I LOVE WHAT I DO
  </p>
  <hr />
  <h3>Movie maker</h3>
  <div class="video">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/TQWCzEiR0dQ" frameborder="0" allowfullscreen></iframe>
  </div>
  <hr />
  <h3>A look into my life</h3>
</div>
<div class="media-live">
  <instagram ng-class="{'size-item-1':$first}" picture="picture" ng-repeat="picture in instagram | orderBy:'-date'"></instagram >
</div>
</section>
