<!DOCTYPE html>
<html lang="en" ng-app="orggue">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="orggue"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Jorge Chato universe</title>
    <link rel="icon" href="../../assets/img/favicon.png">
    <!-- inject:css -->
    <!-- endinject -->
    <base href="/" target="" />
  </head>
  <body ng-cloak>
    <orggueheader></orggueheader>
    <!--super secret COMBO: up,up,down,down,left,right,up,space-->
    <div ui-view></div>
    <footer>
      <!-- inject:js-->
      <!-- endinject -->
    </footer>
  </body>
</html>
