body
  font-family 'Lato'
  text-align center
  font-size 16px
  color $grey
  h1
    font-family "tree-d-md"
    margin 0
    font-size 40px
  h2
    font-family "two-d-md"
    margin 0
    font-size 16px
  a
    text-decoration none
