body
  font-family 'Lato'
  text-align center
  font-size 16px
  color $grey
  h1
    font-family "tree-d-md"
    margin 0
    font-size 40px
  h2
    font-family "two-d-md"
    margin 0
    font-size 16px
  h3
    font-size 35px
    font-weight 200
  a
    text-decoration none
  .content
    margin 0 auto
    margin-top 3em
    max-width 680px
    padding 0 8px
    i
      font-size 18px
      color $blue
    span
      font-size 2em
      font-weight 300
      margin-right -1.5px
  *, *::before, *::after
    position relative
    box-sizing border-box
  hr
    width 270px
    border-style solid
    color $basegrey
    background $basegrey
    margin-top 3em
