header
  img
    margin-top 40px
    width 145px
    height 145px
    border-radius 50%
  nav
    margin-top 2em
    font-weight 700
    ul
      margin 0
      padding 0 8px
      overflow-x auto
      li
        display inline-block
        vertical-align top
        margin 0 1em
        a
          color $nav-color
          transition color ease .25s
          &.active-nav
            color $mainColor
          &:hover
            color $mainColor
  #github-bar
    width 100%
    margin-top 2em
    height 6px
    background $mainColor
    span
      display inline-block
      vertical-align top
      height 100%
      transition all .3s ease
      &.ng-enter
        opacity 0
      &.ng-leave
        opacity 1
