#work
  margin-bottom 6em
  .count
    width 100%;
    #open-source,#languages,#events
      display inline-block
      vertical-align middle
      margin 0 5%
      strong
        font-size 1.15em
  .work
    img
      width 100px
      height 100px
      border-radius 50%
    .data
      .work--date
        color $lightgrey
      .work--links
        a
          font-size 17px
          margin 0 .5em
          color $lightgrey
          &:hover
            color $mainColor
      h4
        font-size 25px
        font-weight 400
        margin 0
