footer
  color white
  padding 1em 8px
  border-top 1px solid rgba($black,.15)
  position relative
  bottom 0
  left 0
  right 0
  border-top 5px solid $basegrey
  background-size cover
  a
    color white
    font-weight 700
    &:hover
      text-decoration underline
  .map,.center,.social
    display inline-block
    vertical-align middle
  .map
    text-align left
  .social
    text-align right
  .center
    padding 1em 14%
